@charset "UTF-8";

h1, h2, h3, h4, h5, h6{
    font-family: "Oxygen", arial;
}

.button{
    display: inline-block;
    padding: .9em 2.5em;
    border-radius: 5px;
    background-color: #58c4c4;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: #37a0a0;
}

.top-header{
    text-align: center;
}

.top-header-logo{
    margin: .5em;
}

.nav-menu{
    background-color: #612674;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
    
}

.nav-menu a:hover{
    background-color: #7c3792;
}

/*  fim cabeçalho */

/* Content */

.top-content{
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top-content-title{
    color: #612674;
    font-size: 1.5em;
    margin: 1.5em;
}
.top-content p{
    font-size: 1.em;
    color: #a87bb7;
    line-height: 1.5;
}

/* fim content */

/* section icons */

.section-icons{
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.section-icons h3{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.section-icons p{
    font-weight: 1.5;
}

.section-icons span{
    font-size: 2em;
    color: #652e78;;
}

/* Fim section icons */