body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}

.web{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.web h1{
    text-transform: uppercase;
    font-size: 40pt;
    text-shadow: 3px 3px 3px black;
}

.web p{
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0.404);
    border-bottom: solid 3px white;
    padding: 5px;
}

main{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.content{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    
}

.content-dois{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    
}

.card{
    display: inline-block;
    padding: 0px 5px 0px 5px;
    
}

.card img{
    width: 340px;
}

.card p{
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    margin-top: 0px;
}

.content-dois h2{
    background-color: #ccc;
    padding: 10px;
    border-bottom: 2px solid gray;
}

footer{
    background-color: gray;
    text-align: center;
    color: white;
    padding: 10px;
}