@charset "utf-8";
body{
 font-size: 22px;
 font-family: sans-serif;
 width: 800px;
 margin: auto;
 background-image: url(../imagens/bg.jpg);
 background-size: cover;
 background-repeat: repeat;
 background-position: right bottom;
}
p{
    line-height: 1.5;
    text-align: justify;
}
.img-html{
    float: left;
}
.img-css{
    float: right;
}