@charset "UTF-8";

div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* Propriedade de animações*/
    transition-property: width, height;
    transition-duration: 1s, 5s;
    transition-delay: 1s, 3s;

}

div:hover{
    width: 300px;
    height: 400px;
}